﻿
@{
    ViewBag.Title = "AddProject";
}


@model manager.ViewModels.CreateProjectViewModel
@using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
{
    <h3 class="mt-5 text-dark font-weight-light">Create new project</h3>
    @Html.ValidationSummary(true)

    @Html.TextBoxFor(item => item.Name, new { @class = "form-control mt-5", placeholder = "Project name" })
    @Html.ValidationMessageFor(item => item.Name)

    @Html.TextBoxFor(item => item.Link, new { @class = "form-control", placeholder = "Link" })
    @Html.ValidationMessageFor(item => item.Link)
    <br />
    <input type="submit" class="btn btn-success" value="Add project" />
}