﻿
@{
    ViewBag.Title = "CreateTask";
}

<div class="w-100 d-flex projectPage mt-5">
    <nav class="d-flex flex-column mr-1">

        @Html.ActionLink("Project", "Project", "Project",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Members", "Members", "Project",
       new { id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Tasks", "Tasks", "Project",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Settings", "Index", "Setting",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

    </nav>

    <div class="ml-4">
        @model manager.ViewModels.AddTaskViewModel
        @using (Html.BeginForm("AddTask", "Project", new { Id = ViewBag.id }, FormMethod.Post))
        {
            <h3 class="text-dark font-weight-light">Add new task to this project</h3>
            @Html.ValidationSummary(true)
            <input type="hidden" name="ProjectId" value="@ViewBag.id" />
            <input type="hidden" name="StatusId" value="1" />
            @Html.TextBoxFor(item => item.Name,
           new { @class = "form-control ", placeholder = "Task name"})
            @Html.ValidationMessageFor(item => item.Name)
            @Html.DropDownListFor(item => item.UserId, Model.GetMembers.Select(i => new SelectListItem
            {
                Text = i.UserName,
                Value = i.Id.ToString()
            }), new { @class = "form-control " })

            @Html.EditorFor(item => item.Deadline, new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(item => item.Deadline)
            <br />
            <input type="submit" class="btn btn-success" value="Add task" />
        }

        @section scripts
        {
            <script src="~/Scripts/jquery-3.5.1.min.js"></script>
            <script src="~/Scripts/bootstrap-datepicker.js"></script>
            <script type="text/javascript">

                $(document).ready(function () {

                    $('.datepicker').datepicker({
                        format: "dd/mm/yyyy"
                    });

                });
            </script>
        }
    </div>
</div>

