﻿@helper memberTableBuilder(IEnumerable<manager.ViewModels.MemberViewModel> members)
{
    <table class="table table-light table-striped w-100 ml-auto mr-auto shadow rounded mt-3">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in members)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.ProjectRole</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>


    </table>
}



@{
    ViewBag.Title = "Members";
}
<div class="w-100 d-flex projectPage mt-5">
    <nav class="d-flex flex-column mr-1">

        @Html.ActionLink("Project", "Project", "Project",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })


        @Html.ActionLink("Members", "Members", "Project",
       new { id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Tasks", "Tasks", "Project",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Settings", "Index", "Setting",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

    </nav>

    <div class=" w-75 ml-auto mr-auto ">
        @model manager.ViewModels.AddMembersViewModel
        @using (Html.BeginForm("Members", "Project", new { Id = ViewBag.id }, FormMethod.Post))
        {
            <input type="hidden" name="ProjectId" value="@ViewBag.id"/>
            <h5 class="text-dark font-weight-light">Choose users</h5>
            @Html.DropDownListFor(item => item.Users, Model.GetUsers.Select(i => new SelectListItem
            {
                Text = i.UserName,
                Value = i.Id.ToString()
            }), new { id = "chosen-select", @class = "form-control ", @multiple = "true" })

            @Html.DropDownListFor(item => item.Role, Model.GetRoles.Select(i => new SelectListItem
            {
                Text = i.Name,
                Value = i.Id.ToString()
            }), new { @class = "form-control" })

            <input type="submit" class="btn btn-success" value="Add"/>
        }
        @section scripts{
            <script src="~/Scripts/jquery-3.5.1.min.js"></script>
            <script src="~/Scripts/select2.min.js"></script>
            <link href="~/Content/css/select2.min.css" rel="stylesheet" />
            <script>$(function () {

            $("#chosen-select").select2();
        });</script>
        }

    </div>

</div>

<h3 class="text-center text-dark font-weight-light mt-3">Users :</h3>
@memberTableBuilder(ViewBag.members)

