﻿@helper taskTableBuilder(IEnumerable<manager.ViewModels.TaskViewModel> tasks)
{
    <table class="table table-light table-striped w-100 ml-auto mr-auto shadow rounded">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Deadline</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tasks)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Deadline.ToShortDateString()</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>


    </table>
}
@{
    ViewBag.Title = "Task";
}


<div class="w-100 d-flex projectPage mt-5">
    <nav class="d-flex flex-column mr-1">

        @Html.ActionLink("Project", "Project", "Project",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Members", "Members", "Project",
       new { id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Tasks", "Tasks", "Project",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Settings", "Index", "Setting",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

    </nav>

    <div class="w-100">
        <h5 class="text-dark font-weight-light mt-6">My tasks :</h5>

        @taskTableBuilder(Model)
    </div>
</div>