﻿@helper taskTable(IEnumerable<manager.ViewModels.TableTaskViewModel> tasks)
{
    <table class="table table-light table-striped w-100 ml-auto mr-auto shadow rounded">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <td scope="col">Deadline</td>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in tasks)
            {
                <tr>
                    <td>@item.Name 
                    @if(item.Status == "To do")
                    {
                        <div class="badge badge-danger">@item.Status</div>
                    }
                    else if(item.Status == "In process")
                    {
                        <div class="badge badge-warning">@item.Status</div>
                    }
                    else if(item.Status == "Review")
                    {
                        <div class="badge badge-primary">@item.Status</div>
                    }
                    else
                    {
                        <div class="badge badge-success">@item.Status</div>
                    }
                    </td>
                    <td>@item.User.UserName</td>
                    <td>@item.Deadline.ToShortDateString()</td>
                    <td>
                        <a href="@Url.Action("TaskDelete", "Setting", new { Id = item.Id})">
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class="bi bi-trash text-dark m-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>


    </table>
}

@helper memberTable (IEnumerable<manager.ViewModels.MemberViewModel> members) 
{
    <table class="table table-light table-striped w-100 ml-auto mr-auto shadow rounded">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <td scope="col">Role</td>
                <th scope="col">Email</th>
                <td scope="col"></td>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in members)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Name</td>
                    <td>@item.ProjectRole</td>
                    <td>@item.Email</td>
                    <td>
                        <a href="@Url.Action("DeleteMember", "Setting",
                                new { projId =ViewBag.id,userId = item.Id})">
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class="bi bi-trash text-dark m-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }

        </tbody>


    </table>
}


@{
    ViewBag.Title = "Index";
}

<div class="w-100 d-flex projectPage mt-5">
    <nav class="d-flex flex-column mr-1">

        @Html.ActionLink("Project", "Project", "Project",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Members", "Members", "Project",
       new { id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Tasks", "Tasks", "Project",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

        @Html.ActionLink("Settings", "Index", "Setting",
       new { Id = ViewBag.id }, new { @class = "text-decoration-none h5 text-dark font-weight-light" })

    </nav>

    <div class="ml-auto mr-auto w-100 bg-white">
        <h6 class="text-center text-dark font-weight-light">Setting page</h6>

        <h4 class="text-center font-weight-light">@Model.Name</h4>
        <br />
        <h5 class="text-center font-weight-light">status : @Model.Status</h5>
        @if (Model.Status == "Active")
        {
            <a href="@Url.Action("ChangeProjectStatus", "Setting", new { projectId = ViewBag.id, statusId = 2})">
                <input type="button" class="btn btn-success font-weight-light ml-3"
                       value="Set status Completed" />
            </a>
            <a href="@Url.Action("ChangeProjectStatus", "Setting", new { projectId = ViewBag.id, statusId = 3})">
                <input type="button" class="btn btn-danger font-weight-light"
                       value="Set status Canceled" />
            </a>
        }
        else if (Model.Status == "Completed")
        {
            <a href="@Url.Action("ChangeProjectStatus", "Setting", new { projectId = ViewBag.id, statusId = 1})">
                <input type="button" class="btn btn-info font-weight-light ml-3"
                       value="Set status Active" />
            </a>
            <a href="@Url.Action("ChangeProjectStatus", "Setting", new { projectId = ViewBag.id, statusId = 3})">
                <input type="button" class="btn btn-danger font-weight-light"
                       value="Set status Canceled" />
            </a>
        }
        else
        {
            <a href="@Url.Action("ChangeProjectStatus", "Setting", new { projectId = ViewBag.id, statusId = 2})">
                <input type="button" class="btn btn-success font-weight-light ml-3"
                       value="Set status Completed" />
            </a>
            <a href="@Url.Action("ChangeProjectStatus", "Setting", new { projectId = ViewBag.id, statusId = 1})">
                <input type="button" class="btn btn-info font-weight-light"
                       value="Set status Active" />
            </a>

        }



        <div class="accordion mt-2" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none text-secondary" type="button"
                                data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Members
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        @memberTable(Model.Members)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed  text-decoration-none text-secondary"
                                type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                            Tasks
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        @taskTable(Model.Tasks)
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div>
        <a href="@Url.Action("AddTask", "Project", new { Id=ViewBag.id})">
            <input type="button" class="btn btn-success font-weight-light ml-3" value="New task" />
        </a>

        <a href="@Url.Action("DeleteProject", "Setting", new { Id=ViewBag.id})">
            <input type="button" class="btn btn-danger  font-weight-light ml-3" value="Delete project" />
        </a>
    </div>
</div>


