﻿
@{
    ViewBag.Title = "ManagerUp";
}

<h1 class="mt-5 font-weight-light text-center">Oops!</h1>
<h1 class="mt-1 font-weight-light text-center text-muted">500</h1>
<h2 class="mt-1 font-weight-light text-center text-muted">something went wrong</h2>

