﻿@helper usersTableBuilder(IEnumerable<BLL.DTO.UserDTO> users) 
{
    <table class="table table-light table-striped w-100 ml-auto mr-auto shadow rounded">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in users)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                    <td>
                        @if (item.Role=="user")
                        {
                            <a href="@Url.Action("ChangeRole", "Admin", new { Id = item.Id, Name = "admin"})">
                                <input type="button" class="btn btn-light" value="Set role admin" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ChangeRole", "Admin", new { Id = item.Id, Name = "user"})">
                                <input type="button" class="btn btn-light" value="Set role user" />
                            </a>
                        }

                    </td>
                    <td>
                        <a href="@Url.Action("DeleteUser", "Admin", new { Id = item.Id})">
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class="bi bi-trash text-dark m-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }

        </tbody>


    </table>
} 

@{
    ViewBag.Title = "AllUsers";
}
<div class="text-center mt-5 mb-5">
    <a href="@Url.Action("Index", "Admin")"
       class="text-decoration-none h3 font-weight-light">Admin page</a>
</div>
@usersTableBuilder(Model)
