﻿
@{
    ViewBag.Title = "Index";
}

<h3 class="text-center mt-5 font-weight-light">Admin page</h3>

<div class="text-center mt-5">
    @Html.ActionLink("Users", "AllUsers", "Admin", null, 
    new { @class= "text-decoration-none h3 font-weight-light" })
    <br />
    @Html.ActionLink("Projects", "AllProjects", "Admin", null, 
    new { @class = "text-decoration-none h3 font-weight-light" })
</div>
