﻿body {
}

input{
    margin-top:5px;

}

.taskBlock{
    height: 190px;
    border-radius: 5px;
}

.taskBlock>p{
    margin-left:5px;
    font-weight:300;
    margin-top: 3px;
    margin-bottom:1px;
}

a{
    text-decoration-line:none;
}

.auth{
    width:220px;
}

.field-validation-error {
    color: #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}

input[type="checkbox"].input-validation-error {
    outline: 2px solid #f00;
}



