﻿
﻿@{
    ViewBag.Title = "Login";
}

@model manager.ViewModels.LoginViewModel

<div class="ml-auto mr-auto mt-5">
    <h3 class="text-dark font-weight-light text-center ">Login</h3>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.TextBoxFor(model => model.Username, new
    {
        @class = "form-control auth",
    placeholder = "Login",
    Textmode = "Password"
    })
    @Html.ValidationMessageFor(model => model.Username)

    @Html.TextBoxFor(model => model.Password, new
    {
        @class = "form-control auth",
    placeholder = "Password",
    Type = "Password"
    })
    @Html.ValidationMessageFor(model => model.Password)

        <br />
    <input type="submit" value="Login" class="btn btn-success auth" />
    }

<a href="@Url.Action("Register", "Account")">
    <input type="button" class="btn btn-warning auth" value="Register" />
</a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
