﻿﻿@{
    ViewBag.Title = "Register";
}


@model manager.ViewModels.RegisterViewModel

<div class="mt-5 mr-auto ml-auto">

     <h3 class="text-dark font-weight-light text-center ">Registration</h3>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control auth", placeholder = "Username" })
    @Html.ValidationMessageFor(model => model.UserName)

    @Html.TextBoxFor(model => model.Name, new { @class = "form-control auth", placeholder = "Name" })
    @Html.ValidationMessageFor(model => model.Name)

    @Html.TextBoxFor(model => model.Email, new { @class = "form-control auth", placeholder = "Email" })
    @Html.ValidationMessageFor(model => model.Email)

    @Html.TextBoxFor(model => model.Password, new
    {
        @class = "form-control auth",
    placeholder = "Password",
    Type = "Password"
    })
    @Html.ValidationMessageFor(model => model.Password)

    @Html.TextBoxFor(model => model.ConfirmPassword, new
    {
        @class = "form-control auth",
    placeholder = "Confirm password",
    Type = "Password"
    })
    @Html.ValidationMessageFor(model => model.ConfirmPassword)
        <br />
    <input type="submit" value="Register" class="btn btn-success auth" />
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
