﻿@{
    ViewBag.Title = "Home Page";
}
@helper projectTableBuilder(IEnumerable<manager.ViewModels.ProjectViewModel> projects)
{
    <table class="table table-light table-striped w-100 ml-auto mr-auto shadow rounded" style="text-decoration: none">
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Status</th>
                <th scope="col">Progress %</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in projects)
            {
                <tr>
                    <th>
                        @Html.ActionLink(item.Name, "Project", "Project",
                       new { id = item.Id }, new { @class = "text-dark text-decoration-none font-weight-normal" })
                    </th>
                    @if (@item.StatusName == "Active")
                    {
                        <th><div class="btn btn-light">@item.StatusName</div></th>
                    }
                    else if (item.StatusName == "Completed")
                    {
                        <th><div class="btn btn-success">@item.StatusName</div></th>
                    }
                    else
                    {
                        <th><div class="btn btn-danger">@item.StatusName</div></th>
                    }
                    <th>@item.Percent</th>
                </tr>
            }

        </tbody>
    </table>
}

<div class="d-flex justify-content-between align-items-center w-100 mb-2 mt-5">

    <h2 class="font-weight-light">Projects</h2>
    <a href="@Url.Action("AddProject", "Project")">
        <input type="button" class="btn btn-success font-weight-light text-decoration-none" value="Add project">
    </a>
</div>
@projectTableBuilder(Model)